* {
    margin: 0;
    padding: 0;
    font-family: 'Inter Regular';
}


html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
}

.texto {
    color: #004ba8;
}


header {
    position: relative;
    z-index: 1050;
}


a {

    color: #004ba8;
    text-decoration: none;
    transition: 0.5s;

}

a:hover {
    scale: 1.1;

    color: #f28705;

}

.logo img {

    height: 25vh;
    object-fit: contain;

}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(251, 251, 251);
    color: #004ba8;
    height: 13vh;
}


.nave-list {

    display: flex;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    position: relative;
    z-index: 1050;
}

.nave-list li {

    letter-spacing: 3px;
    margin-left: 62px;
    color: #004ba8 !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 18px;

}

.dropdown-menu a {
    padding-left: 0;
}


.dropdown-menu a:hover {

    background-color: transparent;
}




.botao {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.social-icons a {
    color: #004ba8;
    transition: 0.3s;
}

.social-icons a:hover {
    opacity: 0.7;
    color: #f28705;
}



.mobile-menu {
    cursor: pointer;
    display: none;
    z-index: 1001;
}



.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #004ba8;
    margin: 8px;
    transition: 0.3s;

}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nave-list {

        position: absolute;
        top: 13vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: rgb(251, 251, 251);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }

    .nave-list li {
        margin-left: 0;
        opacity: 0;

    }

    .mobile-menu {
        display: block;
        z-index: 1000;
    }



}

.nave-list.active {
    transform: translateX(0);
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}



main {
    background-color: #F9F0E9;
    padding: 20px;
    flex: 1 0 auto;
    /* Faz o main crescer para empurrar o footer */
}


.text-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}



.banner-container {
    background-color: var(--amarelo);
    padding: 0;
    margin: 0;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
}


.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top i {

    font-size: 2rem;
    color: #e57b12;
}

.scroll-to-top i:hover {


    color: #f28705;
}

.scroll-to-top.show {
    opacity: 1;
    transform: translateY(0);
}



footer {
    background-color: #004ba8;
    color: rgb(251, 251, 251);
    padding: 20px 0;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
    /* Evita que o footer encolha */
}


@font-face {
    font-family: 'Inter Regular';
    src: url(assets/fonts/Inter-fontiko/Inter-Regular.ttf);
}