* {
    margin: 0;
    font-family: 'Inter Regular';
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}


body {
    display: flex;
    flex-direction: column;

}

.texto {
    color: #004ba8;
}


header {
    position: relative;
    z-index: 1050;
}


a {

    color: #004ba8;
    text-decoration: none;
    transition: 0.5s;

}

a:hover {
    scale: 1.1;
    color: #f28705;

}

.texto p {
    letter-spacing: 3px;
    text-align: left;
    max-width: 600px;
    margin-left: 20px;
    margin-right: auto;
    color: #f28705;
    font-size: 25px;

}

.texto p a {
    letter-spacing: 3px;
    text-align: left;
    max-width: 600px;
    margin-left: 10px;
    margin-right: auto;
    color: #f28705;
    font-size: 40px;

}

.texto ul {
    letter-spacing: 4px;
    text-align: left;
    max-width: 600px;
    margin-left: 10px;
    margin-right: auto;
    color: #f28705;
    font-size: 20px;

}

.texto ul li {
    letter-spacing: 4px;
    text-align: left;
    max-width: 600px;
    margin-left: 40px;
    margin-right: auto;
    color: #0c96cf;
    font-size: 25px;

}

#apoiador {
    text-align: center;
    color: #f8f8f8;
    background-color: #004ba8;
    justify-content: center;
}



#apoiador a {
    text-align: center;
    justify-content: center;
    color: #004ba8;
    transition: 0.5s;
    font-size: 20px;
    background-color: #f8f8f8;
    border-radius: 50px;
    padding: 15px !important;
}

#apoiador a:hover {

    font-size: 22px;

}

.logo img {

    height: 25vh;
    object-fit: contain;

}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(251, 251, 251);
    color: #004ba8;
    height: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

.nave-list {

    display: flex;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    position: relative;
    z-index: 1050;
}

.nave-list li {

    letter-spacing: 3px;
    margin-left: 60px;
    color: #004ba8 !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 18px;

}

.nave-list li button:hover {
    color: #f28705;

}

.Drop {

    letter-spacing: 3px;
    padding: 0;
    padding-bottom: 2px;
    color: #004ba8 !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 18px;
    border: 0 solid transparent;
    transition: 0.5s;

}

.Drop:hover {

    color: #f28705 !important;
}


.dropdown-menu li {
    margin: 15px;
}


.dropdown-menu a {
    color: #004ba8;
}

.dropdown-menu a:hover {
    color: #f28705;
    background-color: transparent;
}


.barra {
    border-radius: 10px;
    border: 2px solid #004ba8;
    width: 15vw;
    height: 5vh;
}



.botao {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.social-icons a {
    color: #004ba8;
    transition: 0.3s;
}

.social-icons a:hover {
    opacity: 0.7;
    color: #f28705;
}



.mobile-menu {
    cursor: pointer;
    display: none;
    z-index: 1001;
}



.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #004ba8;
    margin: 8px;
    transition: 0.3s;

}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nave-list {

        position: fixed;
        top: 13vh;
        right: 0;
        width: 100vw;
        height: calc(100vh - 13vh);
        background: rgb(251, 251, 251);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }

    .nave-list li {
        margin-left: 0;
        opacity: 0;

    }

    .mobile-menu {
        display: block;
        z-index: 1000;
    }

    .barra {
        border-radius: 10px;
        border: 2px solid #004ba8;
        width: 25vw;
        height: 5vh;
    }

    .dropdown-menu li {
        margin: 15px;

    }

    #apoiador.texto {
        text-align: center;
        letter-spacing: 4px;
        height: 30vh;
        color: #f8f8f8;
        background-color: #e57b12;
    }

    #apoiador.texto h1 {
        margin-left: 2px;
        text-align: left;

    }

}

.nave-list.active {
    transform: translateX(0);
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}



main {
    background-color: #ffffff;
    padding: 20px;
    flex: 1 0 auto;
    padding-top: 13vh;
    min-height: calc(100vh - 13vh);
}


.text-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}



.banner-container {
    background-color: var(--amarelo);
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 100;
    margin-top: 13vh;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

.card-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}


.card-home-title {
    font-family: 'Inter Bold';
    color: #E57B12;
    font-size: 40px;
}

.card-home-text {
    font-family: 'Inter Medium';
    color: #000000;
    font-size: 15px;
}

.section-title {
    font-family: 'Inter Bold';
    font-size: 35px;
    text-align: center;
    color: white;
}

.section-subtitle {
    font-family: 'Inter Medium';
    font-size: 20px;
    color: #252525;
}

.section-subtext {
    font-family: 'Inter Regular';
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.section-text {
    font-family: 'Inter Regular';
    font-size: 20px;
    color: white;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-title {
    font-size: 25px;
    font-weight: bolder;
}

.card-text {
    font-size: 15px;
}

.icon-container {
    width: 50px;
    height: 75px;
    background-color: #f28705;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark {
    color: white;
    font-size: 2rem;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top i {

    font-size: 2rem;
    color: #0C96CF;
}

.scroll-to-top i:hover {


    color: #0C96CF;
}

.scroll-to-top.show {
    opacity: 1;
    transform: translateY(0);
}

.accordion-button {
    background-color: #0C96CF;
    color: white;
    font-size: 25px;
}

.accordion-button:hover {
    background-color: #E57B12;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #0C96CF;
    color: white;
    box-shadow: none;
}

footer {
    background-color: #004ba8;
    color: #ffffff;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin-top: 10px;
    text-align: center;
}

footer a {
    color: #ffffff;
    /* Texto branco */
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #f28705;
    /* Hover amarelo */
    text-decoration: underline;
}


@font-face {
    font-family: 'Inter Regular';
    src: url(assets/fonts/Inter-fontiko/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter Bold';
    src: url(assets/fonts/Inter-fontiko/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter Medium';
    src: url(assets/fonts/Inter-fontiko/Inter-Medium.ttf    );
}